# CAP 5771 - Principles of Data Mining 
Haibin Guan 

P.ID 6039501

Email: hguna003@fiu.edu

###### Midterm

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.preprocessing import OnehotTransactions
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [47]:
meals=[['M1','M2','M5'],
      ['M2','M4'],
      ['M2','M3'],
      ['M1','M2','M4'],
      ['M1','M3'],
       ['M2','M3'],
      ['M1','M3'],
      ['M1','M2','M3','M5'],
      ['M1','M2','M3'],
      ['M1','M3','M4','M5']]
print(meals)

##encode data into OnehotTransaction dataset
oht=OnehotTransactions()
oht_array=oht.fit(meals).transform(meals)
df=pd.DataFrame(oht_array,columns=oht.columns_)
df

[['M1', 'M2', 'M5'], ['M2', 'M4'], ['M2', 'M3'], ['M1', 'M2', 'M4'], ['M1', 'M3'], ['M2', 'M3'], ['M1', 'M3'], ['M1', 'M2', 'M3', 'M5'], ['M1', 'M2', 'M3'], ['M1', 'M3', 'M4', 'M5']]

/anaconda3/lib/python3.6/site-packages/mlxtend/preprocessing/onehot.py:66: DeprecationWarning: OnehotTransactions has been deprecated and will be removed in future. Please use TransactionEncoder instead.
  warnings.warn(msg, DeprecationWarning)

      M1     M2     M3     M4     M5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False
9   True  False   True   True   True

###### a. Identify all the frequent k-itemsets

In [48]:
###generate the frequent itemsets by given min_support=0.2
frequent_itemsets=apriori(df,min_support=0.2,use_colnames=True)
frequent_itemsets

    support      itemsets
0       0.7          (M1)
1       0.7          (M2)
2       0.7          (M3)
3       0.3          (M4)
4       0.3          (M5)
5       0.4      (M2, M1)
6       0.5      (M3, M1)
7       0.2      (M4, M1)
8       0.3      (M5, M1)
9       0.4      (M2, M3)
10      0.2      (M2, M4)
11      0.2      (M2, M5)
12      0.2      (M3, M5)
13      0.2  (M2, M3, M1)
14      0.2  (M5, M2, M1)
15      0.2  (M5, M3, M1)

In [49]:
###find out the candidates that are pruned due to a violation of the Apriori property
###generate all candidates before prune
before_prune=apriori(df,min_support=0,use_colnames=True)
before_prune['length']=before_prune['itemsets'].apply(lambda x:len(x))
before_prune

    support              itemsets  length
0       0.7                  (M1)       1
1       0.7                  (M2)       1
2       0.7                  (M3)       1
3       0.3                  (M4)       1
4       0.3                  (M5)       1
5       0.4              (M2, M1)       2
6       0.5              (M3, M1)       2
7       0.2              (M4, M1)       2
8       0.3              (M5, M1)       2
9       0.4              (M2, M3)       2
10      0.2              (M2, M4)       2
11      0.2              (M2, M5)       2
12      0.1              (M3, M4)       2
13      0.2              (M3, M5)       2
14      0.1              (M5, M4)       2
15      0.2          (M2, M3, M1)       3
16      0.1          (M2, M4, M1)       3
17      0.2          (M5, M2, M1)       3
18      0.1          (M3, M4, M1)       3
19      0.2          (M5, M3, M1)       3
20      0.1          (M5, M4, M1)       3
21      0.0          (M2, M3, M4)       3
22      0.1          (M2, M3, M5)       3
23      0.0          (M5, M2, M4)       3
24      0.1          (M5, M3, M4)       3
25      0.0      (M2, M4, M3, M1)       4
26      0.1      (M5, M2, M3, M1)       4
27      0.0      (M5, M2, M4, M1)       4
28      0.1      (M5, M3, M4, M1)       4
29      0.0      (M5, M2, M3, M4)       4
30      0.0  (M5, M4, M2, M3, M1)       5

Notice, for length 2 candidates: 

(M3, M4) 

(M5, M4) 

would be pruned since they didn't pass the min_support threshold, 

thus, for length 3 candidates:

(M3,M4,M1),

(M5,M4,M1),

(M2,M3,M4),

(M5,M2,M4),

(M5,M3,M4), 

they were not generated since there were no (M3,M4) and (M5,M4).

Further, for length 4 candidates, 

(M2,M4,M3,M1), 

(M5,M2,M3,M1), 

(M5,M2,M4,M1),

(M5,M3,M4,M1),

(M5,M2,M3,M4),

and length 5 candidate:

(M5,M4,M2,M3,M1)

were not be generated neither since there were missing those length 3 candidates.

##### b. find all strong association rules of the form X^Y-Y

In [55]:
rules=association_rules(frequent_itemsets,metric='confidence',min_threshold=0.7)
rules['antecedent_len']=rules['antecedents'].apply(lambda x:len(x))
print("The assoication rules of the form X^Y -> Y that confidences are higher than the 0.7 are:")
rules[rules['antecedent_len']>=2][['antecedents','consequents','confidence']]

The assoication rules of the form X^Y -> Y that confidences are higher than the 0.7 are:

  antecedents consequents  confidence
3    (M2, M5)        (M1)         1.0
4    (M3, M5)        (M1)         1.0